// @use '@angular/material' as mat;

// $fl-primary: mat.define-palette((50: #e3e5e9,
//       100: #b0b3b5,
//       200: #959a9d,
//       300: #7b8086,
//       400: #61666f,
//       500: #464d57,
//       600: #3f454e,
//       700: #2c3340,
//       800: #222932,
//       900: #181f26,
//       A100: #cacdcc,
//       A200: #b0b3b5,
//       A400: #61666f,
//       A700: #2c3340,
//       contrast: (50: black,
//         100: black,
//         200: black,
//         300: white,
//         400: white,
//         500: white,
//         600: white,
//         700: white,
//         800: white,
//         900: white,
//         A100: black,
//         A200: black,
//         A400: white,
//         A700: white,
//       )));

// $fl-accent: mat.define-palette(mat.$blue-grey-palette, 200); // You can swap this with a contrast color if needed
// $fl-warn: mat.define-palette(mat.$red-palette);

// $fl-theme: mat.define-light-theme((color: (primary: $fl-primary,
//         accent: $fl-accent,
//         warn: $fl-warn,
//       )));

// @include mat.core();
// @include mat.all-component-themes($fl-theme);

/**
  Based on the following color palette:
/* Coolors Exported Palette - https://coolors.co/2c3340-464d57-61666f-7b8086-959a9d-b0b3b5-cacdcc */

/* CSS HEX *
--gunmetal: #2C3340ff;
--charcoal: #464D57ff;
--dim-gray: #61666Fff;
--gray: #7B8086ff;
--cadet-gray: #959A9Dff;
--silver: #B0B3B5ff;
--silver-2: #CACDCCff;

/* CSS HSL *
--gunmetal: hsla(219, 19%, 21%, 1);
--charcoal: hsla(215, 11%, 31%, 1);
--dim-gray: hsla(219, 7%, 41%, 1);
--gray: hsla(213, 4%, 50%, 1);
--cadet-gray: hsla(203, 4%, 60%, 1);
--silver: hsla(204, 3%, 70%, 1);
--silver-2: hsla(160, 3%, 80%, 1);

/* SCSS HEX *
$gunmetal: #2C3340ff;
$charcoal: #464D57ff;
$dim-gray: #61666Fff;
$gray: #7B8086ff;
$cadet-gray: #959A9Dff;
$silver: #B0B3B5ff;
$silver-2: #CACDCCff;

/* SCSS HSL *
$gunmetal: hsla(219, 19%, 21%, 1);
$charcoal: hsla(215, 11%, 31%, 1);
$dim-gray: hsla(219, 7%, 41%, 1);
$gray: hsla(213, 4%, 50%, 1);
$cadet-gray: hsla(203, 4%, 60%, 1);
$silver: hsla(204, 3%, 70%, 1);
$silver-2: hsla(160, 3%, 80%, 1);

/* SCSS RGB *
$gunmetal: rgba(44, 51, 64, 1);
$charcoal: rgba(70, 77, 87, 1);
$dim-gray: rgba(97, 102, 111, 1);
$gray: rgba(123, 128, 134, 1);
$cadet-gray: rgba(149, 154, 157, 1);
$silver: rgba(176, 179, 181, 1);
$silver-2: rgba(202, 205, 204, 1);

/* SCSS Gradient *
$gradient-top: linear-gradient(0deg, #2C3340ff, #464D57ff, #61666Fff, #7B8086ff, #959A9Dff, #B0B3B5ff, #CACDCCff);
$gradient-right: linear-gradient(90deg, #2C3340ff, #464D57ff, #61666Fff, #7B8086ff, #959A9Dff, #B0B3B5ff, #CACDCCff);
$gradient-bottom: linear-gradient(180deg, #2C3340ff, #464D57ff, #61666Fff, #7B8086ff, #959A9Dff, #B0B3B5ff, #CACDCCff);
$gradient-left: linear-gradient(270deg, #2c3340, #464D57ff, #61666Fff, #7B8086ff, #959A9Dff, #B0B3B5ff, #CACDCCff);
$gradient-top-right: linear-gradient(45deg, #2C3340ff, #464D57ff, #61666Fff, #7B8086ff, #959A9Dff, #B0B3B5ff, #CACDCCff);
$gradient-bottom-right: linear-gradient(135deg, #2C3340ff, #464D57ff, #61666Fff, #7B8086ff, #959A9Dff, #B0B3B5ff, #CACDCCff);
$gradient-top-left: linear-gradient(225deg, #2C3340ff, #464D57ff, #61666Fff, #7B8086ff, #959A9Dff, #B0B3B5ff, #CACDCCff);
$gradient-bottom-left: linear-gradient(315deg, #2C3340ff, #464D57ff, #61666Fff, #7B8086ff, #959A9Dff, #B0B3B5ff, #CACDCCff);
$gradient-radial: radial-gradient(#2C3340ff, #464D57ff, #61666Fff, #7B8086ff, #959A9Dff, #B0B3B5ff, #CACDCCff);

*/
