STAGE=local
PORT=6666
ASSET_PATH=public
HOSTNAME=localhost
JWT_SECRET=supersecretproxykey
EDITOR_HASH=$2b$12$replace-with-editor-password-hash
CALC_HASH=$2b$12$EpFtDdpFNm07BiI1vx1Cae4XdbNzjYSwpiiqJuO0gP6l.RL8LK0HW
ADMIN_HASH=$2b$12$replace-with-admin-password-hash
MY_EMAIL_ADDRESS=michael@lowenstein.ca
FROM_EMAIL_ADDRESS=support@lowenstein.ca
SENDGRID_API_KEY_V1=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
SENDGRID_API_KEY_V2=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
FIREBASE_REALTIME_DB=https://console.firebase.google.com/u/1/project/wipp-73383/database/wipdata/data/~2F
DB_USER=admin
DB_HOST=localhost
DB_NAME=wipdatabase
DB_PASS=eqla1313
DB_PORT=5432
DB_SSL=false  # Set to 'true' if using cloud-hosted databases like Heroku
TOKEN_EXPIRY=24h
OTP_THROTTLE_MIN=2
FRICLOW_EMAIL_ADDRES=friclow@gmail.com
FRICLOW_EMAIL_SUB_PREFIX="INQUIRY FROM WEBSITE:"
FIREBASE_METADATA_DB=https://fl-legal-b3315-default-rtdb.firebaseio.com
MY_HASH=$2b$10$Voyzh8IuYaSFYgYUeiQSx.ghZXX00RDQyesj/cMbzxiplUeDaEPua
TRACYS_HASH=$2b$10$AIE3d9BCyCqwQq01fTn4P.vQ8f98CDyhJN8.tsgK1285ia27uqd7a
